/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes scale {
	from {
		scale: 1;
	}
	to {
		scale: 1.5;
	}
}

@keyframes sparks {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.card__icon-button {
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: border-color 0.4s ease;
  border-style: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--sparks-color);
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition-delay: 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.03s;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition-delay: 0.03s;
}

.button {
  background-color: var(--bg-color);
  border: 2px solid black;
  outline: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 2;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--accent-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.button:focus {
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s ease;
}

.button:hover::before {
  translate: 0;
}