/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-card-font-weight);
  background-image: var(--body-patern);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
}

.button__text {
  font-family: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: #000;
}
.header {
  background-color: var(--bg-color);
  margin: 100px 0px 100px 0px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-padding) 0;
  text-align: center;
}

.header__logo {
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: var(--title-size);
}

.header__title {
  margin-top: 19px;
  font-size: var(--header-text-size);
  font-family: var(--accent-font);
  font-weight: 400;
  color: #000;
}

.main {
  width: var(--container-width);
}

.main__card {
  border: 2px solid black;
  background-color: var(--bg-color);
  margin-bottom: 54px;
}

.card__title {
  padding: 5px 10px;
  border: 2px solid black;
  text-wrap: balance;
  font-size: 18px;
  font-weight: var(--main-card-font-weight);
  font-variation-settings: "wght" 700;
}

.card__img__conteiner {
  position: relative;
  display: flex;
  border: 2px solid black;
  height: 696px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  opacity: 0.4;
  text-align: end;
  font-family: var(--accent-font);
  font-size: 14px;
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 23px;
}

.card__description {
  border: 2px solid black;
  padding: 27px 22px 20px;
}

.card__text {
  margin-bottom: 23px;
  font-family: var(--font-family);
  font-weight: var(--main-card-font-weight);
  font-size: 18px;
  line-height: 117%;
  color: #000;
}

.card__controls {
  display: flex;
}

.card__image2 {
  filter: grayscale(50%);
}

.card__image3 {
  filter: saturate(400%);
}

.card__image4 {
  filter: hue-rotate(30deg);
}

.card__image5 {
  filter: invert(0.8);
}

.card__image6 {
  filter: sepia(1);
}

.card__image7 {
  filter: blur(20px);
}

.card__image8 {
  filter: blur(2px)brightness(105%) contrast(100%) hue-rotate(90deg);
}

.element {
  max-width: var(--container-width);
  width: 100%;
}

.card__footer {
  margin-top: 22px;
  display: flex;
  justify-content: end;
  margin-bottom: -1px;
}

.card__like-button {
  padding: 11px 35px;
  font-size: 14px;
  font-family: var(--accent-font);
}

.button span {
  color: white;
  mix-blend-mode: difference;
}

.button svg {
  color: white;
  mix-blend-mode: difference;
}

.main__save-button {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: var(--accent-font);
  margin: 50px auto 100px;
  padding: 15px 20px;
  font-size: 14px;
}

.main__save-button svg {
  height: 21px;
  width: 21px;
}

.dialog {
  background-color: var(--bg-color);
  color: var(--accent-color);
  padding: 30px;
  inline-size: 357px;
  border: 2px solid black;
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  width: 39px;
  height: 39px;
}

.dialog__text {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
}

.dialog__ok-button {
  width: 100%;
  padding-block: 10.5px;
  margin-block-start: 30px;
}

.dialog__ok-text {
  font-size: 14px;
  line-height: 0.9;
  font-family: var(--accent-font);
}

@media (width <= 375px) {
  .main__save-button {
    flex-direction: column;
    width: 28px;
    height: 28px;
  }
  .element {
    max-width: 100%;
    width: 100%;
  }
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}